:root {
  --primary: #363636;
  --primary-text: #363636;
  --pink-text:#CF00AE;
  --secondary: #80CABD;
  --secondary-text: #363636;
  --accent: #363636;
  --accent2: #DAFFD4;
  --accent3: #85E3FF;
  --accent-text: #ffffff;
}
